DATABASE_PROVIDER=sqlserver
DATABASE_URL="sqlserver://SERVIDOR:PORTA;database=BASE;user=USUARIO;password={SENHA};encrypt=true;trustServerCertificate=true;"
PORT=4000
BACKEND_HOST=127.0.0.1
FRONTEND_PORT=3003
FRONTEND_HOST=127.0.0.1
TLS_ENABLED=false
FRONTEND_TLS_ENABLED=false
API_BASE_URL=http://127.0.0.1:4000

NEXTAUTH_URL=https://formulariosbi.caoa.com.br
NEXTAUTH_SECRET=coloque_um_segredo_forte_aqui
AZURE_AD_CLIENT_ID=coloque_o_client_id_aqui
AZURE_AD_CLIENT_SECRET=coloque_o_client_secret_aqui
AZURE_AD_TENANT_ID=coloque_o_tenant_id_aqui
AUTH_ALLOWED_DOMAINS=caoa.com.br
BACKEND_REQUEST_TIMEOUT_MS=30000
