POSTGRES_USER=app
POSTGRES_PASSWORD=change_me
POSTGRES_DB=salesdb
DATABASE_PROVIDER=sqlserver
DATABASE_URL="sqlserver://SERVIDOR:PORTA;database=BASE;user=USUARIO;password={SENHA};encrypt=true;trustServerCertificate=true;"
PORT=4000
FRONTEND_PORT=3003
FRONTEND_HOST=0.0.0.0
TLS_ENABLED=true
TLS_CERT_PATH=../deploy/certs/fullchain.pem
TLS_KEY_PATH=../deploy/certs/privkey.pem
API_BASE_URL=https://SEU_HOST:4000

NEXTAUTH_URL=https://SEU_HOST:3003
NEXTAUTH_SECRET=coloque_um_segredo_forte_aqui
AZURE_AD_CLIENT_ID=coloque_o_client_id_aqui
AZURE_AD_CLIENT_SECRET=coloque_o_client_secret_aqui
AZURE_AD_TENANT_ID=coloque_o_tenant_id_aqui
AUTH_ALLOWED_DOMAINS=caoa.com.br
BACKEND_REQUEST_TIMEOUT_MS=30000
